version: "3.9"

services:
  server:
    build:
      context: .
      target: server
    environment:
      NODE_ENV: production
      PORT: 2567
    ports:
      - "2567:2567"

  login-server:
    build:
      context: .
      target: login-server
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - "3000:3000"

  social-server:
    build:
      context: .
      target: social-server
    environment:
      NODE_ENV: production
      PORT: 2568
    ports:
      - "2568:2568"

  client:
    build:
      context: .
      target: client
      args:
        - NODE_ENV=production
        - VITE_PORT=8080
    ports:
      - "8080:80"
    environment:
      VITE_PORT: 8080
      VITE_GAME_SERVER_URL: ws://localhost:2567
      VITE_SOCIAL_SERVER_URL: ws://localhost:2568
      VITE_LOGIN_SERVER_URL: http://localhost:3000
    depends_on:
      - server
      - login-server
      - social-server
